.align-center {
    text-align: center !important;
}

.mainText{
    margin-top: 26vh!important;
    text-align: center!important;
}
.loginDivider{
    background-color: #dba159!important;
}
.mainText-h1 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 2.5vw!important;
  padding: 40px 25px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  color: #131313;
  color: #e4e4e4!important;
  letter-spacing: .05em;
  text-shadow: 
    2px 2px 0px #2c2c2c, 
    5px 5px 0px rgba(0, 0, 0, 0.2);
}
.mainText-h2{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 1.25vw!important;
  padding: 40px 25px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  color: #131313;
  color: #e4e4e4!important;
  letter-spacing: .05em;
  text-shadow: 
    2px 2px 0px #2c2c2c, 
    5px 5px 0px rgba(0, 0, 0, 0.2);
}