.login-segment {
    padding: 0 !important;
    background: rgba(0, 0, 0, 0) !important;
    border: none !important;
    box-shadow: none !important;
    max-width: 300px;
    margin: auto !important;
}

.login-segment:before {
    left: -1px !important;
    border-radius: 1rem !important;
    background: rgba(100, 100, 100, .8) !important;
}

.login-segment:after {
    border-color: #ffffff rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.1) !important;
}

.login-segment-tab {
    margin: 0 !important;
}

.login-segment-tab .ui.menu {
    background-color: #dba159;
    border-radius: 15px 15px 0px 0px !important;
    border: none !important;
    border-bottom: 1px solid #22222222 !important;
    width: 100% !important;
}

.login-segment-tab .item{
    width: 50%;
    display: flex;
    justify-content: center;
    color: white !important;
}

.login-segment-tab .item:first-child{
    border-radius: 15px 0 0 0 !important;
}

.login-segment-tab .item:last-child{
    border-radius: 0 15px 0 0 !important;
}

.login-segment-tab .item:last-child:before{
    width: 0 !important;
}

.login-segment-tab .ui.tab {
    background-color: #333333 !important;
    margin: 0 -1px !important;
    width: 100% !important;
    border: none !important;
    border-radius: 0px 0px 15px 15px !important;
    padding: 0 !important;
}

.login-segment-tab .ui.tab .field:last-child {
    display: flex;
    justify-content: center;
}

.login-segment-tab .active.item:after {
    background-color: #dba159 !important;
    border: none !important;
}

.login-segment-tab .ui.form {
    padding: 2em 2em;
    background-color: #333333;
    border-radius: 0 0 15px 15px;
}

.login-segment-tab .ui.form .field>label {
    color: white;
}

.login-segment-tab .ui.form input {
    border: 5px solid #dba159 !important;
    border-radius: 15px !important;
}

.login-segment-tab .ui.form .ui.button {
    width: 100%;
    margin-top: 15px;
    background-color: #dba159;
    color: white;
    font-size: 15px;
    padding: 10px;
    border-radius: 15px;
}

.login-segment-tab .ui.form .ui.button:hover {
    filter: brightness(95%);
}

.login-segment-tab .ui.form .ui.button:active {
    filter: brightness(105%);
}