--install openssh (easiest way - select openssh during ubuntu installation)
--check your nat connection ip (10.0.2.15 in my vm)
--in virtualbox go to vm settings -> network -> adapter with nat -> advanced -> port forwarding
--make new rule: SSH TCP 127.0.0.1 2222 10.0.2.15 22
--make new rule: PostgreSQL TCP 127.0.0.1 5432 10.0.2.15 5432
--make new rule: Port8080 TCP 127.0.0.1 8080 10.0.2.15 8080

--restart machine and connect from host over ssh: (replace wmm with your username on wm)
ssh -p2222 wmm@127.0.0.1


--get newest packages
sudo apt update
sudo apt upgrade

sudo apt install python3-pip
sudo pip3 install --upgrade pip
sudo pip3 install cherrypy
sudo pip3 install psycopg2

sudo apt-get install postgresql-10

--to automatically start postgres:
sudo update-rc.d postgresql enable

--to start without restart:
service postgresql start

--add role to db
sudo su - postgres
psql
CREATE USER wmm_admin SUPERUSER password 'Ecv5Fat!fF92(R<b';
\q
exit

--create databases

--configure database access
cd /etc/postgresql/10/main
sudo nano postgresql.conf
--change listen #listen_addresses line to: listen_addresses='*'
sudo nano pg_hba.conf
--add following lines
# TYPE  DATABASE        USER            ADDRESS                 METHOD
host    all             all             all                     md5
--restart postgres
service postgresql restart

--now you can connect to database from host machine
--IP:127.0.0.1 PORT:5432 USER:wmm_admin PASSWORD:Ecv5Fat!fF92(R<b

--to use sshfs enable root login
sudo passwd
--set password
--edit /etc/ssh/sshd_config
--set PermitRootLogin yes
service ssh restart