--install openssh (easiest way - select openssh during ubuntu installation)
--check your nat connection ip (10.0.2.15 in my vm)
--in virtualbox go to vm settings -> network -> adapter with nat -> advanced -> port forwarding
--make new rule: TCP 127.0.0.1 2222 10.0.2.15 22
--make new rule: TCP 127.0.0.1 5432 10.0.2.15 5432
--restart machine and connect from host over ssh: (replace wmm with your username on wm)
ssh -p2222 wmm@127.0.0.1 


--get newest packages
sudo apt-get update
sudo apt-get upgrade

--python 3.6 installation

sudo add-apt-repository ppa:deadsnakes/ppa
sudo apt-get update
sudo apt-get install python3.6

--pip3.6 installation
sudo python3.6 -m ensurepip
sudo pip3.6 install --upgrade pip


--python modules
sudo pip3.6 install cherrypy
sudo pip3.6 install psycopg2


--create aliases (optionally)
--type this at beggining of ~/.bashrc:
#python
alias python=python3.6
alias pip=pip3.6
--exit and type following:
source ~/.bashrc

--postgres
wget --quiet -O - https://www.postgresql.org/media/keys/ACCC4CF8.asc | sudo apt-key add -
sudo sh -c 'echo "deb http://apt.postgresql.org/pub/repos/apt/ trusty-pgdg main" >> /etc/apt/sources.list.d/postgresql.list'
sudo apt-get update
sudo apt-get install postgresql-9.6

--to automatically start postgres:
sudo update-rc.d postgresql enable

--to start without restart:
service postgresql start

--add role to db
sudo su - postgres
psql
CREATE USER wmm_admin SUPERUSER password 'Ecv5Fat!fF92(R<b';
\q
exit

--configure database access
cd /etc/postgresql/9.6/main/conf.d/
sudo nano postgresql.conf 
--change listen #listen_addresses line to: listen_addresses='*'
sudo nano pg_hba.conf 
--add following lines
# TYPE  DATABASE        USER            ADDRESS                 METHOD
host    all             all             all                     md5
--restart postgres
service postgresql restart

--now you can connect to database from host machine
--IP:127.0.0.1 PORT:5432 USER:wmm_admin PASSWORD:Ecv5Fat!fF92(R<b