.main-container {
  display: flex !important;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 7em;
}

.content {
  margin: 0 !important;
  box-shadow: none !important;
  flex: 1;
  padding-bottom: 1em !important;
  min-height: calc(100vh - 7em);
  border-radius: 0 !important;
  border: 0 !important;

  background-image: url("./resources/images/drzewko.svg") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: -15px 5px !important;
  background-color: #96897b !important;
}